doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=640, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        block title
            title #{meta.ja.title}
        meta(name="description", content=meta.ja.description)
        meta(name="keywords", content=meta.ja.keywords)
        meta(property="og:title", content=meta.ja.title)
        meta(property="og:type", content="website")
        meta(property="og:url", content=meta.ja.url)
        meta(property="og:image", content=meta.ja.image)
        meta(property="og:site_name", content=meta.ja.site_name)
        meta(property="og:description", content=meta.ja.description)
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=meta.ja.title)
        meta(name="twitter:description" content=meta.ja.description)
        meta(name="twitter:image:src" content=meta.ja.image)
        link(rel="stylesheet", href="/css/pf.css")
        link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="/favicon.ico")
        link(rel="icon", type="image/vnd.microsoft.icon", href="/favicon.ico")
        script(src="/js/modernizr.js")
        script(src="/js/jquery.min.js")
        script(src="/js/jquery.easing.min.js")
        script(src="/js/jquery.remodal.js")
        script(src="/js/velocity.min.js")
        script(src="/js/pf.min.js")
        block addhead
    body
        
        header
            
        article
            
        footer